
{% extends 'catalog/base/base.html' %}
{% block content %}

{% for object in object_list %}

<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">slug {{ object.slug }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li> {{ object.body|truncatechars:100 }}</li>
            </ul>
            <div class="btn-group">
                <a class="detail" type="submit" href="{% url 'materials:view' object.pk %}" ><p>More...</p></a>
            </div>
            <div>
                <a class="detail" type="submit" href='{% url 'materials:edit' object.pk %}'><p>Edit</p></a>
            </div>
            <div>
                <a class="detail" type="submit" href='{% url 'materials:delete' object.pk %}'><p>Delete</p></a>
            </div>

        </div>
    </div>
</div>
{% endfor %}

<!--    <div>-->
<!--        {% for object in category_list %}-->
<!--        {% include 'catalog/includes/inc_product_card.html' %} ТУТ СОЗДАМ КАРТОЧКУ СВОЮ НОВУЮ ПО КАТЕГОРНИЯМ-->
<!--        {% endfor %}-->
<!--    </div>-->

{% endblock %}