<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">RUR {{ object.price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li> {{ object.description|truncatechars:100 }} </li>
            </ul>
            <div class="button">
                <a class="detail" type="submit" href= {% url 'catalog:product' object.pk %} ><p>More...</p></a>
            </div>

        </div>
    </div>
</div>