
{% extends 'catalog/base/base.html' %}
{% block content %}
<div class="col-12 mb-5" >
    <a class="btn-btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
{% for object in object_list %}
{% include 'catalog/includes/inc_product_card.html' %}
{% endfor %}

<!--    <div>-->
<!--        {% for object in category_list %}-->
<!--        {% include 'catalog/includes/inc_product_card.html' %} ТУТ СОЗДАМ КАРТОЧКУ СВОЮ НОВУЮ ПО КАТЕГОРНИЯМ-->
<!--        {% endfor %}-->
<!--    </div>-->

{% endblock %}